/* 
  general styles
*/
html,
body {
	color: #363a37;
}

h1, h2, h3,
h4, h5, h6,
p, span, li, a {
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}

/*
  logo
*/
.logo {
  width: 60px;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 75px;
  }
}

/* 
  featured image
*/
.feature-image {
	height: 400px;
	background: url(../images/study-feature.jpg) center center;
	-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@media only screen and (min-width: 768px) {
  .feature-image {
  	height: 550px;
  }
}

@media only screen and (min-width: 966px) {
  .feature-image {
  	height: 700px;
  }
}

/*
  media splits
*/
video {
  width: 100% !important;
  height: auto !important;
}

/*
  services
*/
.price {
  color: #013a2a;
}

/* 
  fonts 
*/
.font-sm{
  font-size: 18px;
  line-height: 1.2;
}

.font-md {
  font-size: 18px;
  line-height: 1.2;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 26px;
}

.font-xxl {
  font-size: 26px;
}

@media (min-width: 576px) {
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 18px;
  }
  .font-lg {
    font-size: 22px;
  }
  .font-xl {
    font-size: 34px;
  }
  .font-xxl {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 20px;
  }
  .font-lg {
    font-size: 22px;
  }
  .font-xl {
    font-size: 36px;
  }
  .font-xxl {
    font-size: 38px;
  }
}

@media (min-width: 992px) {
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 22px;
  }
  .font-lg {
    font-size: 26px;
  }
  .font-xl {
    font-size: 42px;
  }
  .font-xxl {
    font-size: 46px;
  }
}

@media (min-width: 1120px) {
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 22px;
  }
  .font-lg {
    font-size: 28px;
  }
  .font-xl {
    font-size: 44px;
  }
  .font-xxl {
    font-size: 50px;
  }
}

@media (min-width: 1280px) {
  .font-sm {
    font-size: 18px;
  }
  .font-md {
    font-size: 22px;
  }
  .font-lg {
    font-size: 32px;
  }
  .font-xl {
    font-size: 46px;
  }
  .font-xxl {
    font-size: 56px;
  }
}

@media (min-width: 1440px) {
  .font-sm {
    font-size: 20px;
  }
  .font-md {
    font-size: 24px;
  }
  .font-lg {
    font-size: 34px;
  }
  .font-xl {
    font-size: 48px;
  }
  .font-xxl {
    font-size: 60px;
  }
}

@media (min-width: 1600px) {
  .font-sm {
    font-size: 20px;
  }
  .font-md {
    font-size: 26px;
  }
  .font-lg {
    font-size: 36px;
  }
  .font-xl {
    font-size: 50px;
  }
  .font-xxl {
    font-size: 64px;
  }
}
