<footer>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="py-5">
					<hr class="mb-5"/>
					<a class="font-md d-flex justify-content-center" href="mailto:info@theivyroad.com">info@theivyroad.com</a><br/>
					<p class="pb-5 text-center"><i>The Ivy Road is an educational service provider working to enhance our students' academic writing capabilities and offer guidance through the college admissions process. We do not maintain affiliations with any undergraduate university admissions offices, and have no influence over admissions decisions made by universities. As such, we cannot guarantee any specific admissions outcome as a direct result of our services.</i></p>
			    <p class="font-sm text-center">&copy; {{ site.time | date: '%Y' }} The Ivy Road</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>