<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="The Ivy Road is a college prep service that offers one-on-one writing workshops for students preparing their university applications.">
    <meta name=”keywords” content="College Prep, College Essays, University Applications, College Applications, Essay Prep, Tutoring, Long Island College Prep, Long Island, New York College Prep, Ivy League Prep, Long Island College Essays"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- font import -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i" rel="stylesheet">
  </head>
  <body id="{{page.id}}">
    {%- include header.html -%}<!-- header -->   
    {{ content }}
    {%- include footer.html -%}<!-- footer -->
  </body>
</html>